<div class="new-page-container">
  <h1 class="new-page-title">New Budget</h1>
  <%= simple_form_for(@budget, html: { class: 'budget-form' }) do |form| %>
    <div class="form-group">
      <%= form.input :name, input_html: { class: 'form-input' } %>
    </div>

    <div class="form-group">
      <%= form.select :budget_type, ['Monthly', 'Yearly', 'Weekly', 'Daily', 'Ad Hoc'], { prompt: 'Select Budget Type' }, class: 'form-input' %>
    </div>

    <div class="form-group">
      <%= form.input :due_date, as: :string, input_html: { data: { controller: 'datepicker' }, class: 'form-input' } %>
    </div>

    <div class="form-actions">
      <%= form.submit 'Create Budget', class: 'submit-button' %>
    </div>
  <% end %>

  <%= link_to 'Home', root_path, class: 'regular-button home-button' %>
</div>
