<!DOCTYPE html>
<html>
  <head>
    <title>Budget Geek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="<%= asset_path 'budgie.ico' %>">
    <link rel="apple-touch-icon" sizes="192x192" href="<%= asset_path 'budgie.png' %>">
    <link rel="apple-touch-icon" sizes="512x512" href="<%= asset_path 'budgie.png' %>">


    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="module">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/assets/service_worker.js')
            .then((registration) => {
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            })
            .catch((error) => {
              console.log('ServiceWorker registration failed: ', error);
            });
        });
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
